<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.wudsn.productions.atari800.demos.pixeldreamsredux/src/com/wudsn/productions/atari800/demos/pixeldreamsredux/SoundConverter.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.wudsn.productions.atari800.demos.pixeldreamsredux.SoundConverter"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="com.wudsn.productions.atari800.demos.pixeldreamsredux"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="snd\PixelDreamsRedux-NR-PCM-U8-15625kHz.raw asm\PixelDreamsRedux-Sound-Data-COVOX.bin asm\PixelDreamsRedux-Sound-Data-POKEY.bin"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.wudsn.productions.atari800.demos.pixeldreamsredux"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\jac\system\Atari800\Programming\Repositories\Demos\PixelDreamsRedux"/>
</launchConfiguration>
